tbody {
    display:block;
    height:300px;
    overflow:auto;
    min-width: 800px;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    max-width: calc( 100% - 1em )
}
tr{
  height: 75px;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}


td:hover{
  font-weight: bold;
  background-color: #E9E9E9;
  color: #000; 
  width:200px;
  text-overflow: inherit;
  overflow: visible;
  text-align: center;
  border-radius: 20px;

}
